<div class="container">
    <h1>About this project</h1>

    <h2>Credits</h2>

    <div class="row">
        <p>In no particular order, here are some technologies I used to build this:</p>

        <h4>Backend Stuff</h4>
        <ul>
            <li><a href="http://expressjs.com/">express js</a> - a minimal node.js web application framework</li>
            <li><a href="https://github.com/flatiron/cradle">cradle</a> - A high-level, caching, CouchDB client for
                node.js
            </li>
            <li><a href="https://github.com/qiao/heap.js">Heap.js</a> - A binary heap implementation in
                CoffeeScript/JavaScript (because JOINs are hard in CouchDB?)
            </li>
            <li><a href="http://lodash.com/">lodash</a> - Utilities and fun functional idioms</li>
            <li><a href="https://github.com/punkave/sanitize-html">sanitize-html</a> - Flexible HTML input sanitizer to
                prevent evil users from doing easy/bad things
            </li>
        </ul>

        <h4>Frontend Stuff</h4>
        <ul>
            <li><a href="http://jquery.com/">jQuery</a> - Because it's not a website anymore unless it has this one</li>
            <li><a href="http://getbootstrap.com/">Bootstrap</a> - So the things I make can look less like an engineer
                made them
            </li>
            <li><a href="http://glyphicons.com/">Glyphicons</a> - Neat little set of icons, conveniently provided with
                bootstrap
            </li>
        </ul>
        <h4>Server Goodies</h4>
        <ul>
            <li><a href="http://nodejs.org/">node.js</a> - Despite how cool this is, javascript still needs a type
                system
            </li>
            <li><a href="http://couchdb.apache.org/">Apache CouchDB</a> - Super-easy to set up, similar(?) APIs to
                couchbase, seems to be a good ice-breaker
            </li>
        </ul>
        <h4>Development Tools</h4>
        <ul>
            <li><a href="http://www.gnu.org/software/emacs/">Emacs</a> - I'll be happy to work in any one-off projects
                with any Lisp dialect...
            </li>
            <li><a href="http://www.jetbrains.com/webstorm/">Webstorm</a> - Such a wonderful IDE</li>
            <li><a href="http://www.jshint.com/">JSHint</a> - This catches so many silly mistakes and weirdnesses that
                it's not even funny.
            </li>
        </ul>
    </div>

    <h2>Notable Deviations</h2>

    <div class="row">
        <h4>API Differences</h4>

        <p> Rather than using a JSON-RPC style API, I stuck with a more RESTful approach, which is easier to manage with
            expressjs route definitions. I still managed to avoid a variety of good REST practices (HATEOAS, common
            headers like <code>Location</code>, etc.) but I feel that this resulted in cleaner server-side code,
            specifically for wiring together services.
        </p>
        <h4>Persistence</h4>

        <p>I have absolutely nothing against MySQL. It was the first RDBMS I used by choice after originally learning MS
            Access to build a forum in ASP (not .NET). Trying to get interesting with this one admittedly bit me when it
            came to building the user feed from a list of followers. What would have likely been a relatively
            straightforward query in SQL became a rather substantial headache with CouchDB.</p>

        <p>After spending a not-insignificant amount of time researching query APIs, view collations, and a variety of
            other interesting things with CouchDB, I was still at a loss as to how I could manage loading the feed with
            fewer than N queries (N being the number of users that the requester is following). All I could find about
            ordering came from ordering of composite keys, which I couldn't resolve against using a key-set to query for
            messages from all followed users.</p>

        <p>I ended up executing the view using the submitter's ID for a key so that I could execute a single query with
            the list of followed user IDs as the key-set. The view does not include message documents (only
            submitter/message ID) for space and transfer constraints, because it's admittedly hacky. All message IDs are
            returned, and then I used a heap to order the messages by ID, getting only the most recent 20. Only these
            messages are returned by the call to the user. <em>This makes an assumption that keys generated by CouchDB
                are time-ordered, which is apparently configurable.</em> To make this sub-solution more robust, I might
            auto-generate keys where the UTC time populates the most significant portion of the key.</p>

        <p>The most obvious issue with this approach is that it won't scale for large numbers of messages. Ideally, the
            query can be constructed such that the majority of data processing is contained in CouchDB and a minimal
            amount of data is transferred, which can be managed nicely with known ordering and result size limits.
            <strong>If you have insights on how this kind of query can be done with CouchDB, I would love to hear
                them!</strong></p>

        <p>If I were to approach this problem with MySQL (assuming a similar columns) it would probably look something
            like this:</p>
        <blockquote><code>
            SELECT m.id, m.user_id, m.text, m.time FROM Messages<br/>
            WHERE m.user_id = ANY (SELECT f.following_id FROM FollowingUsers f WHERE f.id = ?)<br/>
            ORDER BY m.time DESC LIMIT 20
        </code></blockquote>
        <p><code>?</code> would be replaced by the requesting user's ID. This should be decently performant (without
            creating it, using EXPLAINs, etc) if <code>Message.user_id</code> and <code>Messages.time</code> are
            indexed. I've been away from SQL in general not to know the specifics off the top of my head, but it
            wouldn't take very long to figure out.
        </p>
        <h4>Debugging</h4>

        <p>Rather than replicate the client-side development utilities provided in the sample framework, I opted to use
            Chromium's developer tools. Capturing all of the important information across the various mediums between
            different REST calls would have required a non-trivial effort, and the developer tools are easy to use.</p>
    </div>
    <h2>Gripes</h2>

    <div class="row">
        <p>I could not possibly stop myself from trying to add adjacent features all over the place with this. The same
            thing goes for premature optimization with caching. To some extend, technologies like this are extremely
            easy to add to things today, and I probably haven't been sufficiently shot-in-the-foot by them to stop. </p>
    </div>
</div>
