<div class="row">
    <h1>Find your friends!</h1>

    <div class="friend-list">
        <div class="friend">
            <h3 class="friend-name row">
                <span class="col-sm-2 friend-link"></span>
                <a class="col-sm-1 follow-add btn btn-sm btn-success" href='#'>
                    <span class="glyphicon glyphicon-plus">&nbsp;</span>
                    Follow
                </a>
                <a class="col-sm-1 follow-remove btn btn-sm btn-danger" href='#'>
                    <span class="glyphicon glyphicon-minus">&nbsp;</span>
                    Unfollow
                </a>
            </h3>
        </div>
    </div>
</div>
