<div class="jumbotron">
    <div class="container">
        <h1>Welcome to twittle!</h1>

        <p>It's all about communication. Otherwise, it might be important.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4>Increase productivity!</h4>

            <p>Not really. This shouldn't have any positive effect on anyone's productivity. Ever.</p>
        </div>
        <div class="col-sm-4">
            <h4>Become popular</h4>

            <p>Because all of your friends are here, right? Right? No. They aren't.
                They're off being productive somewhere</p>
        </div>
        <div class="col-sm-4">
            <h4>Gain hipster cred.</h4>

            <p>The only legitimate point to be made for using <i>twittle</i> has to be
                the fact that on one else uses it. That's something to feel better than
                everyone else about, right?</p>
        </div>
    </div>
</div>
