<form role="form" id="passwordchange">
    <div class="form-group">
        <label class="control-label" for="oldPassword">Old password</label>
        <input type="password" class="form-control" id="oldPassword" placeholder="Old password">
    </div>
    <div class="form-group">
        <label class="control-label" for="newPassword">New password</label>
        <input type="password" class="form-control" id="newPassword" placeholder="New password">
    </div>
    <div class="form-group">
        <label class="control-label" for="confirmPassword">Confirm password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
    </div>
    <button type="submit" class="btn btn-default">Change it</button>
</form>