<div class="container">
    <div class="row">
        <h1 class="col-sm-4">Feed for <em class="display-username"></em></h1>

        <form id="post-message" class="col-sm-8" role="form">
            <div class="form-group text-right">
                <textarea class="form-control"
                          id="message"
                          maxlength="140"
                          placeholder="Message"
                          rows="2"></textarea>
                <footer class="small"><span id="message-char-count">0</span>/140 Characters</footer>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-comment"></span>
                    Post it
                </button>
            </div>
        </form>
    </div>
    <br/>

    <div class="feed row">
        <div class="tweet">
            <header class="repeat text-info">Repeated by <span class="repeat-sender"></span></header>
            <a class="pull-right small forward-tweet" href="#">Repeat</a>
            <blockquote class="tweet-quote">
                <p class="tweet-message lead"></p>
                <footer class="tweet-details">
                    Sent by <strong class="tweet-sender"></strong> at <em class="tweet-time"></em>
                </footer>
            </blockquote>
            <hr>
        </div>
    </div>
</div>